#feeder textarea {
    resize: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#feeder .btn-group button {
    border: none;
    border-radius: 100%;
}

#feeder .btn-group button#post {
    color: #337ab7
}