

html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}


#divi{
    height:50%;
    width: 50%;
    background-color: #bf616a;
}


#list_container ,#list_jumbotron{
    height:100%;
    margin-bottom: 0px;
}

#form_container{
    width: 304px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 0px;
}

#form_jumbotron{
    padding: 30px;
    margin-bottom: 12px;
    margin-right: 12px;
}
